<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Customer Ledger</title>
  </head>
  <body>
    <main class="without-border">
      <div class="text-center"><small>14/07/2019</small></div>
      <div class="receipt-heading text-center">Customer Ledger</div>
      <br />
        <table class="auto-layout right-bordered">
            <tbody>
            <tr>
                <td style="border-bottom: 0">
                    <div><b>SIDDHI TEXO FAB</b></div>
                    <small>
                        PLOT NO: M-3/6-7-8, ROAD NO: 23, VIBHAG-2, HOJIWALA IND,
                        ESTATE, SACHIN, SURAT.
                    </small>
                    <div>
                        SURAT - 394230
                    </div>
                    <div>INDIA</div>
                    <div><b>PHONE NO :</b> 98256 57870, 99099 11500</div>
                    <div><b>State :</b> GUJARAT &amp; <b>Code :</b> 24</div>
                    <div><b>GST NO :</b> 24AAPFMN352G13AZ8</div>
                </td>
            </tr>
            <tr></tr>
            </tbody>
        </table>
        <br/>
      <table>
        <thead>
          <tr>
            <td>#</td>
            <td>Name</td>
            <td>Contact</td>
            <td>Address</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <div>KAVITA ENTERPRISE</div>
              <div><b>GST NO : </b> 24AEZPA487D123</div>
            </td>
            <td>
              <div>xyz@gmail.com</div>
              <div>9048618769</div>
            </td>
            <td>HOUSE NO. 4/2889,VISHWAS HOUSE,MUMBAIWAD,BEGAMPURA, SURAT</td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <div>DHARAM CREATION</div>
              <div><b>GST NO : </b> 24CNYPP6733Q1ZS</div>
            </td>
            <td>
              <div>xyz@gmail.com</div>
              <div>5521320889</div>
            </td>
            <td>2018,VTM MARKET, RING ROAD , SURAT</td>
          </tr>
          <tr>
            <td>3</td>
            <td>
              <div>RAJAT TRENDZ</div>
              <div><b>GST NO : </b> 24AAOHP179F1Z3</div>
            </td>
            <td>
              <div class="lowercase-text">BSHV@GMAIL.COM</div>
              <div>6354960228</div>
            </td>
            <td>HALL NO. 2&amp;3, RKTM, RING ROAD, SURAT</td>
          </tr>
          <tr>
            <td>4</td>
            <td>
              <div>SHREEJI CREATION</div>
              <div><b>GST NO : </b> 24AKQPG8493B1ZZ</div>
            </td>
            <td>
              <div>NNBG@gmail.com</div>
              <div>6387320559</div>
            </td>
            <td>135,ASTHA MARKET,RING ROAD, SURAT</td>
          </tr>
          <tr>
            <td>5</td>
            <td>
              <div>J.N. FABRICS</div>
              <div><b>GST NO : </b> 24ACHPG7350A1Z5</div>
            </td>
            <td>
              <div>DG@GMAIL.COM</div>
              <div>6398546890</div>
            </td>
            <td>2616,RKTM,RING ROAD</td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              <div>SAFFRON MET YARNS LIMITED</div>
              <div><b>GST NO : </b> 24AANCS4140K1ZB</div>
            </td>
            <td>
              <div>saffronjari@gmail.com</div>
              <div>9328554006</div>
            </td>
            <td>
              7-8, Saffron House Sai Ashish Industrial Estate, Sachin, Surat
            </td>
          </tr>
          <tr>
              <td>7</td>
              <td>
                  <div>KAVITA ENTERPRISE</div>
                  <div><b>GST NO : </b> 24AEZPA487D123</div>
              </td>
              <td>
                  <div>xyz@gmail.com</div>
                  <div>9048618769</div>
              </td>
              <td>HOUSE NO. 4/2889,VISHWAS HOUSE,MUMBAIWAD,BEGAMPURA, SURAT</td>
          </tr>
          <tr>
              <td>8</td>
              <td>
                  <div>DHARAM CREATION</div>
                  <div><b>GST NO : </b> 24CNYPP6733Q1ZS</div>
              </td>
              <td>
                  <div>xyz@gmail.com</div>
                  <div>5521320889</div>
              </td>
              <td>2018,VTM MARKET, RING ROAD , SURAT</td>
          </tr>
          <tr>
              <td>9</td>
              <td>
                  <div>RAJAT TRENDZ</div>
                  <div><b>GST NO : </b> 24AAOHP179F1Z3</div>
              </td>
              <td>
                  <div class="lowercase-text">BSHV@GMAIL.COM</div>
                  <div>6354960228</div>
              </td>
              <td>HALL NO. 2&amp;3, RKTM, RING ROAD, SURAT</td>
          </tr>
          <tr>
              <td>10</td>
              <td>
                  <div>SHREEJI CREATION</div>
                  <div><b>GST NO : </b> 24AKQPG8493B1ZZ</div>
              </td>
              <td>
                  <div>NNBG@gmail.com</div>
                  <div>6387320559</div>
              </td>
              <td>135,ASTHA MARKET,RING ROAD, SURAT</td>
          </tr>
          <tr>
              <td>11</td>
              <td>
                  <div>J.N. FABRICS</div>
                  <div><b>GST NO : </b> 24ACHPG7350A1Z5</div>
              </td>
              <td>
                  <div>DG@GMAIL.COM</div>
                  <div>6398546890</div>
              </td>
              <td>2616,RKTM,RING ROAD</td>
          </tr>
          <tr>
              <td>12</td>
              <td>
                  <div>SAFFRON MET YARNS LIMITED</div>
                  <div><b>GST NO : </b> 24AANCS4140K1ZB</div>
              </td>
              <td>
                  <div>saffronjari@gmail.com</div>
                  <div>9328554006</div>
              </td>
              <td>
                  7-8, Saffron House Sai Ashish Industrial Estate, Sachin, Surat
              </td>
          </tr>
          <tr>
              <td>13</td>
              <td>
                  <div>KAVITA ENTERPRISE</div>
                  <div><b>GST NO : </b> 24AEZPA487D123</div>
              </td>
              <td>
                  <div>xyz@gmail.com</div>
                  <div>9048618769</div>
              </td>
              <td>HOUSE NO. 4/2889,VISHWAS HOUSE,MUMBAIWAD,BEGAMPURA, SURAT</td>
          </tr>
          <tr>
              <td>14</td>
              <td>
                  <div>DHARAM CREATION</div>
                  <div><b>GST NO : </b> 24CNYPP6733Q1ZS</div>
              </td>
              <td>
                  <div>xyz@gmail.com</div>
                  <div>5521320889</div>
              </td>
              <td>2018,VTM MARKET, RING ROAD , SURAT</td>
          </tr>
          <tr>
              <td>15</td>
              <td>
                  <div>RAJAT TRENDZ</div>
                  <div><b>GST NO : </b> 24AAOHP179F1Z3</div>
              </td>
              <td>
                  <div class="lowercase-text">BSHV@GMAIL.COM</div>
                  <div>6354960228</div>
              </td>
              <td>HALL NO. 2&amp;3, RKTM, RING ROAD, SURAT</td>
          </tr>
          <tr>
              <td>16</td>
              <td>
                  <div>SHREEJI CREATION</div>
                  <div><b>GST NO : </b> 24AKQPG8493B1ZZ</div>
              </td>
              <td>
                  <div>NNBG@gmail.com</div>
                  <div>6387320559</div>
              </td>
              <td>135,ASTHA MARKET,RING ROAD, SURAT</td>
          </tr>
          <tr>
              <td>17</td>
              <td>
                  <div>J.N. FABRICS</div>
                  <div><b>GST NO : </b> 24ACHPG7350A1Z5</div>
              </td>
              <td>
                  <div>DG@GMAIL.COM</div>
                  <div>6398546890</div>
              </td>
              <td>2616,RKTM,RING ROAD</td>
          </tr>
          <tr>
              <td>18</td>
              <td>
                  <div>SAFFRON MET YARNS LIMITED</div>
                  <div><b>GST NO : </b> 24AANCS4140K1ZB</div>
              </td>
              <td>
                  <div>saffronjari@gmail.com</div>
                  <div>9328554006</div>
              </td>
              <td>
                  7-8, Saffron House Sai Ashish Industrial Estate, Sachin, Surat
              </td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
  <link href="../../../../public/css/global_receipt.css" rel="stylesheet" type="text/css" />
</html>
